$nav-height: 3em;
$nav-color: #bbb;
$nav-background: #2e2e2e;


.navbar-fixed {
  position: fixed;
  top: -($nav-height);
}

nav {
  width: 100%;
  color: $nav-color;
  background: $nav-background;
  font-weight: bold;
  letter-spacing: 0.025em;
}

nav ul {
  text-align: center;
  margin: 0;
}

nav ul li {
 display: inline-block;
 padding: 0 3em;
 line-height: 3em;
}

nav ul li:hover {
  background: #00939C;
}