<h2>$squad.getSquadName()</h2>

#if ($hero)

#foreach ($hero in $heros)
<div class="wrapper">
    <p>$hero.getHeroName()</p>
    <p>$hero.getHeroAge</p>
    <p>$hero.getHeroPower</p>
    <p>$hero.getHeroWeakness()</p>
</div>
#end

#else
<p>No heros Added!</p>

#end
<button class="btn btn-info btn-lg"><a href="/squads/$squad.getId()/heros/new">Add a new Hero !</a></button>