<!DOCTYPE html>
<html>
<head>
    <title>Hero Squad !</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link rel='stylesheet' href='/app.css'>

</head>
<body>


<div class="filler one"></div>
<nav id="navbar">
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/squad">View Squads</a></li>
        <li><a href="/squads/new">Add a Squad</a></li>
    </ul>
</nav>


<div class="container">
    #parse( $template )
</div>
</body>
</html>